.booming-progress {
    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__boomer {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: red;

        animation: rippling 1.2s ease-out infinite;
        animation-delay: 1s;

        width: 2.5rem;
        height: 2.5rem;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%), translateY(-50%);
        background: rgba(51, 102, 204, 0.5);
        opacity: 0;
        border-radius: 100%;
    }
    position: relative;
    height: 10rem;
    width: 10rem;

    opacity: 0.8;

    border-radius: 100%;
}
