.feature-showcase {
    &__icon {
        svg {
            font-size: 5rem;
        }
        display: flex;
        justify-content: center;
    }
    &__text {
        margin-top: .5rem !important;
    }

    margin: 0 .5rem;
    margin-bottom: 1rem;
    padding: .5rem 0;
}
