.introduction {
    &__logo {
        display: flex;
        justify-content: center;
        img {
            max-width: 100%;
        }
    }
    &__faq {
        text-align: justify;
    }
    &__quote {
        background-color: $gray !important;
        font-style: italic;
        ol {
            margin: 0;
            padding-left: 1.5rem;
        }
    }
    &__quotetext {
        text-align: justify;
        // padding: 0 1rem 0 0 !important;
    }
    &__features {
        ul {
            margin: 0;
        }
    }
    &__navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
