.interval-progress {
    &__circle {
        width: 200px !important;
        height: 200px !important;
    }

    &__inner {
        p {
            text-align: center;
            margin: 0.75rem 0;
        }

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 1.25rem;

        z-index: 999;

        width: 80%;
    }

    &__interval-type-switch {
        button {
            span svg {
                font-size: 2rem;
            }
            padding: 0;
        }

        span {
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    position: relative;
}
