.recent-log {
    &__date {
        h6 {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border: solid 2px $primary;
            border-bottom: none;

            background-color: $primary;
            color: $white;

            padding: 0 .25rem;
        }
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__jump-button {
        position: absolute !important;
        right: 0;
        border-radius: 0 !important;
        box-shadow: none !important;
        height: 70% !important;
        padding: 0 .25rem !important;
        max-width: 20%;
    }
    &__logs {
        border: solid 2px $primary;
        border-radius: 5px;
        padding: 0.25rem;
        background-color: $white;
    }
}
