.recent-log-item {
    &__worktype {
        h6 {
            margin-left: 0.5rem;
        }
        display: flex;
        align-items: center;

        flex-basis: 25%;
    }
    &__timeline {
        display: flex;
        align-items: center;
    }
    &__productive {
        &--productive {
            color: $green;
        }
        &--not-productive {
            color: $gray;
        }
        &--interrupted {
            color: $orange;
        }
        h6 {
            margin-left: 0.5rem;
        }
        display: flex;
        justify-content: flex-start;
        align-items: center;

        flex-basis: 35%;
    }
    display: flex;
    width: 100%;
    justify-content: space-between;

}
