.report-list {
    &__avatar {
        &--productive {
            background-color: $green !important;
        }
        &--nonproductive {
            background-color: $red !important;
        }
    }
}
