.setting-section {
    &__setting-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;
    }
    &__item-label {
        flex-basis: 75%;
    }
    &__item-input {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-basis: 20%;
    }
    &__time-picker {
        input {
            text-align: center !important;
        }
    }
    background-color: $white;
    padding: 0.5rem 1.25rem;
}
