.timer {
    &__progress {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
    &__actions {
        display: flex;
        justify-content: center;
        button {
            &:last-child {
                margin-right: 0;
            }
            margin-right: 1rem;
        }
    }
}
