.about-page {
    &__links {
        a {
            > * {
                height: 100%;
            }
            &:last-child {
                margin-right: 0;
            }
            margin-right: 0.25rem;
            display: flex;
        }
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    margin-top: $app-top-height;
    margin-bottom: $bottom-navigation-height;
    margin-left: 1rem;
    margin-right: 1rem;
}
