.one-time-page {
    &__content {
        justify-content: center;
        display: flex;
    }
    margin-top: $app-top-height;
    margin-bottom: $bottom-navigation-height;

    padding-top: 1rem;

    display: flex;
    flex-direction: column;
}
