.settings-page {
    &__title {
        margin: 1rem 0 !important;
    }
    margin-top: $app-top-height;
    margin-bottom: $bottom-navigation-height;

    display: flex;
    flex-direction: column;
    align-items: center;

}
