.simple-page {
    &__time-choser {
        h6 {
        }
    }
    &__action-blocks {
        > * {
            margin: .75rem 0;
        }
    }
    margin-top: calc(#{$app-top-height} + 1.5rem);
    margin-bottom: calc(#{$bottom-navigation-height} + 1.5rem);
}
