.statistic-page {
    margin-top: $app-top-height;
    margin-bottom: $bottom-navigation-height;

    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 100%;
        margin: 0.25rem 1rem;
    }
}
