
.login-form {
    margin: 1rem 0;
    .error-info {
        display: flex;
        justify-content: end;
        p {
            color: red;
        }
    }
    .actions {
        display: flex;
        justify-content: end;
    }
}
