.app-top {
    &__toolbar {
        justify-content: space-between;
    }
    &__icon-button {
        color: $white;
    }
    &__text-button{}
    &__container {
        padding: 0 .25rem;
    }
    &__logo {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        max-height: 2rem;
    }
    background-image: url("/assets/images/rowl__gradient-blue.png");
    background-size: cover;
}