.bottom-navigation {
    &__action {
        color: $white;
    }
    &__item {
        min-width: unset !important;
    }
    width: 100%;
    position: fixed;
    bottom: 0;

    height: $bottom-navigation-height !important;

    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
